@import './bootstrap.min';
@import './animate.min';
@import 'font-awesome-4.7.0/scss/font-awesome';
@import './fonts';


@mixin background-size($size) {
  -webkit-background-size: $size;
     -moz-background-size: $size;
      -ms-background-size: $size;
       -o-background-size: $size;
          background-size: $size;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

$mgrey: #f6f4f3;

// %link-button {  //extend this to <a>
// 	padding: 12px 40px;
// 	color: white;
//     border: 3px solid;
//     border-radius: 0px;
//     text-decoration: none;
//     text-transform: uppercase;
// 	font-family: "GothamProRegular";
// 	font-size: 12px;
//     cursor: pointer;
//     &:hover, &:focus {
//     	color: #35bdf6;
//     	outline: 5px auto -webkit-focus-ring-color;
//     }
// }



.myrow { //cancel bootstrap standart row settings
	margin-right: 0;
    margin-left: 0;
}

.menu {
	display: none;
	//display: block;
	top: 65px;
	left: 17%;
	z-index: 6;
	position: fixed;
	height: 230px;
	width: 200px;
	padding: 0;
	background: #0c1106;
	&:after {
	    content: ''; 
	    position: absolute;
	    left: 8px; top: -30px;
	    border: 10px solid transparent;
	    border-bottom: 20px solid #0c1106;
	}
}
.menu-burger {
	z-index: 4;
	position: fixed;
	top: 10px;
	left: 17%;
	border: none;
	background-color: inherit;
	color: white;
	outline: none;
	.burger-icon {
		display: block;
	}
	.close-icon {
		display: none;
	}
}

.menu-list {
	margin-top: 20px;
	padding: 0;
	list-style-type: none;
	text-transform: uppercase;
	@media (max-height: 440px) {
		margin-top: 0;
	}
}

.menu-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	text-decoration: none;
	// font-size: 22px;
	// line-height: 15px;
	@media (max-height: 355px) {
		line-height: 55px;
	}
	@media (max-height: 255px) {
		line-height: 35px;
	}
	&:active, &:hover, &:focus {
		color: #35bdf6;
		background-color: white;
		outline: 5px auto white;
		a {
			color: #35bdf6;
		}
	}
	a {
		text-decoration: none;
		color: white;
		&:active, &:hover, &:focus {
			outline: none;
			color: #35bdf6;
		}
	}
}


.header {
	position: fixed;
	background: #db3534;
	height: 45px;
	width: 100%;
	z-index: 4;
	box-sizing: border-box;
}

.menu-content {
	display: flex;
	justify-content: flex-end;
	form {
		display: flex;
		justify-content: flex-end;
	}
}

.trash {
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	margin: 8px 24px 0 0;
	p {
		margin: 0;
		padding: 0;
		font-size: 11px;
		display: inline-block;
		color: white;
	}
}
.trash-img {
	// content: "";
	display: inline-block;
	margin: 0 6px 0 0;
	width: 30px;
    height: 30px;
    border: none;
    background: url(../img/trash.png) no-repeat 50% 50%;
    cursor: pointer; 
}

.search-form {
	display: flex;
	justify-content: flex-end;
	border: none; 
	box-sizing: border-box;
    width: 270px;
    height: 30px;
    margin: 8px 8px 0 14px;
    background: #992524; 
    box-shadow: 9px -4px 9px -9px #000 inset;
    .search-form__submit {
	    width: 35px;
	    height: 30px;
	    border: none;
	    -webkit-appearance: none;
	    outline: none;
	    background: url(../img/search-ikon.png) no-repeat 50% 50%;
	    cursor: pointer; 
	}
  	.search-form__search {
	    width: 100%;
	    // height: 33px;
	    border: none;
	    -webkit-appearance: none;
	    outline: none;
	    padding: 0 0 0 5px;
	    background: #992524;
	    color: #ff3f3e; 
	    font-size: 17px;
	    box-shadow: 9px -4px 9px -9px #000 inset, -9px 9px 9px -13px #000 inset;
	    &::-webkit-input-placeholder {color:#ff3f3e;}
		&::-moz-placeholder          {color:#ff3f3e;}/* Firefox 19+ */
		&:-moz-placeholder           {color:#ff3f3e;}/* Firefox 18- */
		&:-ms-input-placeholder      {color:#ff3f3e;}
	}
}

.submit-lang {
	display: inline;
	width: 30px;
    height: 30px;
    border: none;
    -webkit-appearance: none;
    outline: none;
    margin: 8px 11px 0 0;
    background: #992524;
    color: #ff3f3e; 
    font-size: 17px;
    box-shadow: 0 0 3px 3px #743c3c inset;
    &.active {
    	color: white;
    }
}








.home {
	// display: flex;
	// justify-content: center;
	// align-items: center;
	height: 100vh;
	// background: url(../img/crafted_splash.jpg) center center no-repeat;
	background: -moz-linear-gradient(left, rgba(65,91,25,0.77) 0%, rgba(92,122,48,0.77) 17%, rgba(132,170,83,0.77) 43%, rgba(148,188,96,0.76) 53%, rgba(134,171,84,0.76) 61%, rgba(97,128,52,0.74) 82%, rgba(65,91,25,0.74) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(65,91,25,0.77) 0%,rgba(92,122,48,0.77) 17%,rgba(132,170,83,0.77) 43%,rgba(148,188,96,0.76) 53%,rgba(134,171,84,0.76) 61%,rgba(97,128,52,0.74) 82%,rgba(65,91,25,0.74) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(65,91,25,0.77) 0%,rgba(92,122,48,0.77) 17%,rgba(132,170,83,0.77) 43%,rgba(148,188,96,0.76) 53%,rgba(134,171,84,0.76) 61%,rgba(97,128,52,0.74) 82%,rgba(65,91,25,0.74) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4415b19', endColorstr='#bd415b19',GradientType=1 ); /* IE6-9 */
	background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.front-contacts {

}

.info-col-first {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	p {
		margin: 0;
		color: white;
		font-size: 12px;
		text-decoration: underline;
		&:first-child {
			margin: 80px 0 0 0;
			font-size: 14px;
			text-decoration: none;
		}
	}
}

.social-link {
	margin: 8px 0 0 0;
	a {
		width: 28px;
		height: 28px;
		display: inline-block;
		margin: 0;
	    border: none;
	    // background: url(../img/trash.png) no-repeat 50% 50%;
	    @include background-size(cover);
	    cursor: pointer;
	    &.twitter {
	    	background: url(../img/twitter.png) no-repeat 50% 50%;
	    }	    
    	&.vk {
    		background: url(../img/vk.png) no-repeat 50% 50%;
	    }
	    &.fb {
	    	background: url(../img/fb.png) no-repeat 50% 50%;
	    }
	    &.rss {
    		background: url(../img/rss.png) no-repeat 50% 50%;
	    }
	    &.google {
	    	background: url(../img/google.png) no-repeat 50% 50%;
	    }
	}
}

.trash-big {
	display: flex;
	// justify-content: flex-end;
	align-items: center;
	height: 66px;
	width: 200px;
	margin: 8px 24px 0 0;
	background: #d43332;
	@include border-radius(5px);
	-webkit-box-shadow: inset 0px 0px 17px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 17px -2px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 17px -2px rgba(0,0,0,0.75);
	h4 {
		margin: 0;
		color: white;
		font-size: 18px;
	}
	p {
		margin: 0;
		padding: 0 0 0 2px;
		font-size: 11px;
		display: inline-block;
		color: white;
		text-decoration: none;
		.number {
			font-weight: 700;
			font-size: 12px;
		}
	}
}
.trash-big-img {
	// content: "";
	display: inline-block;
	margin: 0 6px 0 0;
	width: 70px;
    height: 66px;
    border: none;
    background: url(../img/trash-big.png) no-repeat 50% 50%;
    cursor: pointer; 
}

.main-logo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 80px 0 0 0;
	span {
		text-transform: uppercase;
		color: #435b21;
		// color: transparent;
		font-size: 37px;
		font-weight: 600;
		text-shadow: 1px 1px 2px rgba(0,0,0,0.5) , -1px -1px 0 rgba(255,255,255,0.2) ;
		// text-shadow: 0 0 3px rgba(0,0,0,0.5) ;
	}
}

//contact page

.contact-home {
	height: 70vh;
	width: 100%;
	position: relative;
	background: -moz-linear-gradient(left, rgba(65,91,25,0.91) 0%, rgba(80,108,31,0.91) 17%, rgba(101,131,39,0.81) 41%, rgba(109,140,42,0.81) 50%, rgba(101,131,39,0.81) 59%, rgba(81,109,31,0.92) 82%, rgba(65,91,25,0.92) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(65,91,25,0.91) 0%,rgba(80,108,31,0.91) 17%,rgba(101,131,39,0.81) 41%,rgba(109,140,42,0.81) 50%,rgba(101,131,39,0.81) 59%,rgba(81,109,31,0.92) 82%,rgba(65,91,25,0.92) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(65,91,25,0.91) 0%,rgba(80,108,31,0.91) 17%,rgba(101,131,39,0.81) 41%,rgba(109,140,42,0.81) 50%,rgba(101,131,39,0.81) 59%,rgba(81,109,31,0.92) 82%,rgba(65,91,25,0.92) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8415b19', endColorstr='#eb415b19',GradientType=1 ); /* IE6-9 */
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    box-shadow: inset 0 -29px 26px -21px rgba(51, 51, 51, 0.76);
}


.doors {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
	bottom: -220px;
	z-index: 3;
	margin: 0 -3% 0 -3%;
}

.door-single {
	span {
		display: block;
		height: 280px;
	}
}

.door-1 {
	span {
		background: url(../img/door-1.png) center center no-repeat;
	}
}
.door-2 {
	span {
		background: url(../img/door-2.png) center center no-repeat;
	}
}
.door-3 {
	span {
		background: url(../img/door-3.png) center center no-repeat;
	}
}
.door-4 {
	span {
		background: url(../img/door-4.png) center center no-repeat;
	}
}
.door-5 {
	span {
		background: url(../img/door-5.png) center center no-repeat;
	}
}


.slider-container {
	// background: #eaeaea;
	margin: -12px 0 -12px 0;
	position: relative;
	z-index: 2;
	display: inline-block;
    vertical-align: middle;
    line-height: 120px;
    width: 100%;
    padding: 10px 10px;
    font-size: 28px;
    font-family: Arial, sans-serif;
    border: 10px solid transparent;
    border-width: 10px 0;
    background-color: $mgrey;
    background-color: hsla(0, 0%, 0%, 0);
    background-image:
        -webkit-linear-gradient($mgrey, $mgrey),
        -webkit-linear-gradient(top left, transparent 50.5%, $mgrey 50.5%),
        -webkit-linear-gradient(top right, transparent 50.5%, $mgrey 50.5%),
        -webkit-linear-gradient(bottom left, transparent 50.5%, $mgrey 50.5%),
        -webkit-linear-gradient(bottom right, transparent 50.5%, $mgrey 50.5%);
    background-image:
        -moz-linear-gradient($mgrey, $mgrey),
        -moz-linear-gradient(top left, transparent 50.5%, $mgrey 50.5%),
        -moz-linear-gradient(top right, transparent 50.5%, $mgrey 50.5%),
        -moz-linear-gradient(bottom left, transparent 50.5%, $mgrey 50.5%),
        -moz-linear-gradient(bottom right, transparent 50.5%, $mgrey 50.5%);
    background-image:
        linear-gradient($mgrey, $mgrey),
        linear-gradient(to bottom right, transparent 50.5%, $mgrey 50.5%),
        linear-gradient(to bottom left, transparent 50.5%, $mgrey 50.5%),
        linear-gradient(to top right, transparent 50.5%, $mgrey 50.5%),
        linear-gradient(to top left, transparent 50.5%, $mgrey 50.5%);
    background-repeat: repeat, repeat-x, repeat-x, repeat-x, repeat-x;
    background-position: 0 0, 10px 0, 10px 0, 10px 100%, 10px 100%;
    background-size: auto auto, 20px 20px, 20px 20px, 20px 20px, 20px 20px;
    background-clip: padding-box, border-box, border-box, border-box, border-box;
    background-origin: padding-box, border-box, border-box, border-box, border-box;
}


.slider {
	z-index: 0;
	width: 100%;
	height: 80vh;
	overflow: hidden;
	margin: 0 0 7px;
	position: relative;
	ul, li {
		padding: 0;
		margin: 0;
		list-style-type: none;
	}
	ul {
	 	width: 500%; 
	 	height: 80vh;
		li {
			display: inline-block;
			list-style-type: none;
			float: left;
			width: 20%;
			height: 80vh;
			img {
				width: 100%;
				// height: 15vh;
				margin: 10vh 0 3vh 0;
			}
			div {
				position: relative;
				top: -200px;
				text-align: center;
				font-family: "GothamProRegular";
				font-size: 16px;
				letter-spacing: 1px;
			}
			p {
				position: relative;
				top: -200px;
				text-align: center;
				line-height: 1.5;
				font-family: "GothamProRegular";
				font-size: 30px;

			}
	 	}
	}
	.nav {
		display: flex;
		justify-content: center;
		position: absolute;
		left: 40%;
		top: 45px; 
		span {
			opacity: 0.9;
			background: #fff;
			margin: 0 8px 0 0;
			width: 16px;
			height: 16px;
			border-radius: 8px;
			cursor: pointer;
			overflow: hidden;
			display: block;
			float: left;
			box-shadow: 0 1px 2px #000;
			&.on {
				background: #35bdf6;
			}
		}
	}
}


.main-contant {
	// background: #eaeaea;
	margin: -12px 0 -12px 0;
	position: relative;
	z-index: 2;
	// display: inline-block;
    // vertical-align: middle;
    // line-height: 120px;
    width: 100%;
    // padding: 10px 10px;
    // font-size: 28px;
    // font-family: Arial, sans-serif;
    border: 10px solid transparent;
    border-width: 10px 0;
    background-color: $mgrey;
    background-color: hsla(0, 0%, 0%, 0);
    background-image:
        -webkit-linear-gradient($mgrey, $mgrey),
        -webkit-linear-gradient(top left, transparent 50.5%, $mgrey 50.5%),
        -webkit-linear-gradient(top right, transparent 50.5%, $mgrey 50.5%),
        -webkit-linear-gradient(bottom left, transparent 50.5%, $mgrey 50.5%),
        -webkit-linear-gradient(bottom right, transparent 50.5%, $mgrey 50.5%);
    background-image:
        -moz-linear-gradient($mgrey, $mgrey),
        -moz-linear-gradient(top left, transparent 50.5%, $mgrey 50.5%),
        -moz-linear-gradient(top right, transparent 50.5%, $mgrey 50.5%),
        -moz-linear-gradient(bottom left, transparent 50.5%, $mgrey 50.5%),
        -moz-linear-gradient(bottom right, transparent 50.5%, $mgrey 50.5%);
    background-image:
        linear-gradient($mgrey, $mgrey),
        linear-gradient(to bottom right, transparent 50.5%, $mgrey 50.5%),
        linear-gradient(to bottom left, transparent 50.5%, $mgrey 50.5%),
        linear-gradient(to top right, transparent 50.5%, $mgrey 50.5%),
        linear-gradient(to top left, transparent 50.5%, $mgrey 50.5%);
    background-repeat: repeat, repeat-x, repeat-x, repeat-x, repeat-x;
    background-position: 0 0, 10px 0, 10px 0, 10px 100%, 10px 100%;
    background-size: auto auto, 20px 20px, 20px 20px, 20px 20px, 20px 20px;
    background-clip: padding-box, border-box, border-box, border-box, border-box;
    background-origin: padding-box, border-box, border-box, border-box, border-box;
}

.main-article {
	background: linear-gradient(
	  #f7f7f7 95%,
	  #f1f1f1 50%);
	  background-size: 3px 21px;
	  background-color: #f7f7f7;
	  border: 4px solid white;
}


.contact-home {
	height: 70vh;
	width: 100%;
	position: relative;
	background: -moz-linear-gradient(left, rgba(65,91,25,0.91) 0%, rgba(80,108,31,0.91) 17%, rgba(101,131,39,0.81) 41%, rgba(109,140,42,0.81) 50%, rgba(101,131,39,0.81) 59%, rgba(81,109,31,0.92) 82%, rgba(65,91,25,0.92) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(65,91,25,0.91) 0%,rgba(80,108,31,0.91) 17%,rgba(101,131,39,0.81) 41%,rgba(109,140,42,0.81) 50%,rgba(101,131,39,0.81) 59%,rgba(81,109,31,0.92) 82%,rgba(65,91,25,0.92) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(65,91,25,0.91) 0%,rgba(80,108,31,0.91) 17%,rgba(101,131,39,0.81) 41%,rgba(109,140,42,0.81) 50%,rgba(101,131,39,0.81) 59%,rgba(81,109,31,0.92) 82%,rgba(65,91,25,0.92) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8415b19', endColorstr='#eb415b19',GradientType=1 ); /* IE6-9 */
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    box-shadow: inset 0 -29px 26px -21px rgba(51, 51, 51, 0.76);
}

.footer {
	position: relative;
	background: red;
	bottom: 50px;
	height: 40px;
	width: 100%;
	z-index: 4;
}